@import '../../../../styles/common';

$fileupload-padding: rem(15px);
$slim-min-height: rem(30px);
$slim-vertical-padding: ($slim-min-height - line-height(body) - rem(2px)) / 2;

.FileUpload {
  padding: $fileupload-padding;
  text-align: center;
  &.measuring {
    display: none;
  }
}

.Button {
  @include button-base;

  &.disabled {
    @include base-button-disabled;
    cursor: not-allowed;
    box-shadow: none;
  }

  &.focused {
    border-color: var(--p-interactive-focus, color('indigo'));
    outline: 0;
    box-shadow: 0 0 0 1px var(--p-interactive-focus, color('indigo'));

    @include high-contrast-button-outline;
  }

  .sizeSlim {
    min-height: $slim-min-height;
    padding: $slim-vertical-padding spacing(base-tight);
  }
}

.ActionTitle {
  color: var(--p-interactive-action, color('blue'));
  text-decoration: none;

  &:not(.ActionTitle-disabled) {
    cursor: pointer;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &:hover {
      color: var(--p-interactive-action-hovered, color('blue', 'dark'));
    }

    &:active {
      color: var(--p-interactive-action-pressed, color('blue', 'dark'));
    }
  }
}

.ActionTitle-focused {
  color: var(--p-interactive-focus, color('blue', 'dark'));
  text-decoration: underline;
}

.ActionTitle-disabled {
  color: var(--p-interactive-action-disabled, color('ink', 'lightest'));
}

.Image {
  &.sizeExtraLarge {
    width: 90px;
  }

  &.sizeLarge {
    width: 60px;
  }
}
