@import '../../../Popover/styles/variables';

.Header {
  width: $content-max-width;
  max-width: 100%;
  padding: spacing(tight) spacing();
  border-top: border();
  line-height: 1em;
  color: color('ink', 'lighter');

  display: flex;
  align-items: center;
  cursor: pointer;

  @include text-style-subheading;

  &:nth-child(2) {
    border-top: none;
  }
}

.Header-Icon {
  margin-left: auto;
  transform-origin: 50% 50%;
  transition: transform duration() ease;
}

.Header-Open {
  .Header-Icon {
    transform: rotate(-180deg);
  }
}
