@import '../../../../styles/common';
@import '../../variables';

$difference-between-touch-area-and-backdrop: control-height() -
  control-slim-height();

.MenuAction {
  @include unstyled-button;
  @include text-style-body;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 $menu-action-padding-x;
  min-height: control-height();
  text-decoration: none;
  color: var(--p-text-subdued-on-surface, color('ink', 'light'));

  // Start - Delete below me when rolling out global theming
  &:hover,
  &:active {
    color: color('ink');

    .IconWrapper {
      @include recolor-icon(color('ink'), color('white'));
    }
  }

  &:focus,
  &:active {
    &::after {
      background: plain-button-background();
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0.5 * $difference-between-touch-area-and-backdrop;
    right: spacing(extra-tight);
    left: spacing(extra-tight);
    display: block;
    height: control-slim-height();
    border-radius: border-radius();
    background: transparent;
    will-change: background;
    transition-property: background;
    transition-duration: duration();
    transition-timing-function: easing();
  }

  &.disabled {
    color: color('ink', 'lightest');
    cursor: default;
    pointer-events: none;

    .IconWrapper {
      @include recolor-icon(color('ink', 'lightest'));
    }
  }
  // End - Delete after me when rolling out global theming

  &.globalTheming {
    border-radius: var(--p-border-radius-base);

    &:hover {
      background: var(--p-neutral-action-hovered);
    }

    &:focus {
      background-color: transparent;
    }

    &:focus:not(:active) {
      @include focus-ring;
    }

    &:active {
      background: var(--p-neutral-action-pressed);
    }

    &.disabled {
      color: var(--p-text-disabled-on-surface);
      cursor: default;
      pointer-events: none;

      .IconWrapper {
        @include recolor-icon(var(--p-icon-disabled-on-surface));
      }
    }

    .IconWrapper {
      @include recolor-icon(--p-icon-on-surface);
    }

    // Start - overrides than can be deleted during global theming rollout
    &:hover,
    &:active {
      color: var(--p-text-subdued-on-surface);

      .IconWrapper {
        @include recolor-icon(var(--p-icon-subdued-on-surface));
      }
    }

    &:focus,
    &:active {
      &::after {
        background: transparent;
      }
    }

    &::after {
      height: auto;
    }
    // End - overrides than can be deleted during global theming rollout
  }
}

.ContentWrapper {
  display: flex;
  align-items: center;
}

.IconWrapper {
  @include recolor-icon(
    var(--p-icon-subdued-on-surface, color('ink', 'lighter')),
    var(--p-override-transparent, color('white'))
  );
  display: inline-block;

  &:first-child {
    margin-right: spacing(extra-tight);
  }

  &:last-child {
    margin-left: spacing(extra-tight);

    // This compensates for the disclosure icon, which is substantially
    // inset within the viewbox (and makes it look like there is too much
    // spacing on the right of the button)
    margin-right: -3px;
  }

  &.disabled {
    @include recolor-icon(
      var(--p-icon-disabled-on-surface, color('ink', 'lightest'))
    );
  }
}
