.Search {
  padding: spacing();
  text-align: center;
  border-bottom: border();
}

.NoResults {
  padding: spacing();
  background: color(sky, light);
  text-align: center;
}

.NoResults-Query {
  font-weight: 500;
}
